@import '../../../styles/global.scss';



.loginPasswordPart
{
    width: 100%;
    padding: 12px 15px;
    border-radius: 30px;
    border: 0.5px solid var(--theme-auth-input-border-gray);
    @include flex-row;
    align-items: center;
    gap: 20px;

    @include breakpoint ("max-md") {
        padding: 10px;
    }
    
    .eyeIcon
    {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    .userPassword
    {
        outline: none;
        border: none;
        @include font-kanit-bold-400;
        width: 100%;
        background-color: transparent;

        &::placeholder
        {
            color: var(--theme-input-placeholder-gray-text);
        }

        @include breakpoint ("max-sm") {
            font-size: 15px;
            line-height: 18px;
        }

        @include breakpoint ("max-xs"){
            font-size: 14px;
            line-height: 23.92px;

        }
        
    }
}