@font-face {
    font-family: "kanit-regular";
    src: url('../../assets/fonts/Kanit/Kanit-Regular.ttf');
}

@font-face {
    font-family: "karma-regular";
    src: url('../../assets/fonts/Karma/Karma-Regular.ttf');
}

@font-face {
    font-family: "kaisei-harunoUmi-regular";
    src: url('../../assets/fonts/Kaisei-HarunoUmi/KaiseiHarunoUmi-Regular.ttf');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
}