@mixin font-kanit-bold-400 {
    font-family: "kanit-regular";
    font-weight: 400;
    line-height: 23.92px;
    font-size: 16px;
}

@mixin font-kanit-auth-subHeading-bold-400 {
    font-family: "kanit-regular";
    font-weight: 400;
    line-height: 20.93px;
    font-size: 14px;
}

@mixin font-karma-auth-heading-bold-700 {
    font-family: "karma-regular";
    font-weight: 700;
    line-height: 65.12px;
    font-size: 40px;
}

@mixin font-karma-auth-subHeading-bold-400 {
    font-family: "karma-regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 20.34px;
}

@mixin font-kaisei-harunoUmi-bold-700 {
    font-family: "kaisei-harunoUmi-regular";
    font-weight: 700;
    line-height: 28.96px;
    font-size: 20px;
    letter-spacing: 1.3px;
}

@mixin font-roboto-400 {
    font-family: "roboto-regular";
    font-weight: 400;
    line-height: 18.75px;
    font-size: 16px;
}