:root
{
  
    --theme-bg-white : #fff;
    --theme-auth-button-bg-moderate : #528FAD;
    --theme-auth-vector-bg-light-gray : #D4D3D3;


    --theme-input-placeholder-gray-text :#A0A0A0;
    --theme-auth-heading-text : #528FAD;
    --theme-auth-subHeading-text : #959595;
    --theme-auth-options-gray-text : #A4A4A4;
    --theme-auth-options-dark-gray-text :#4B4B4B;
    --theme-auth-moderate-button-text : #FFFFFF;
    --theme-auth-other-options-text : #AAAAAA;
    --theme-auth-social-button-text : #FFFFFF;
    --theme-auth-account-options-gray-text : #939292;
    --theme-auth-account-options-black-text : #000000;
    --theme-auth-account-options-link-moderate-text : #528FAD;
    --theme-auth-account-options-link-white-text : #FFFFFF;



    --theme-auth-input-border-gray :#8B8888;




}