:root
{
  
    --theme-bg-white : #fff;
    --theme-bg-transparent : transparent;
    --theme-bg-moderate : #528FAD;
    --theme-auth-verification-button-bg-light-gray : #DFDFDF80;

    --theme-auth-button-bg-moderate : #528FAD;
    --theme-auth-vector-bg-light-gray : #D4D3D3;
    --theme-auth-border-vector-bg-gray : #9E9E9E;
    --theme-error-bg-gradient-light-blue: linear-gradient(127.93deg, #C5DCEC -11.45%, #E5ECF2 23.18%, #C3D9EE 46.67%);
    --theme-home-bg-yellow : #FFFAC6;


    --theme-input-placeholder-gray-text :#A0A0A0;
    --theme-auth-heading-text : #528FAD;
    --theme-auth-subHeading-text : #959595;
    --theme-auth-options-gray-text : #A4A4A4;
    --theme-auth-options-dark-gray-text :#4B4B4B;
    --theme-auth-other-options-text : #AAAAAA;
    --theme-auth-social-button-text : #FFFFFF;
    --theme-auth-account-options-gray-text : #939292;
    --theme-auth-account-options-black-text : #000000;
    --theme-auth-account-options-link-moderate-text : #528FAD;
    --theme-auth-account-options-link-white-text : #FFFFFF;
    --theme-auth-user-input-heading-dark-gray-text : #636363;
    --theme-home-heading-gray-text : #7D7D7D;
    --theme-error-red-text : #E20707;
    --theme-error-black-text : #000000;
    
    
    

    --theme-moderate-outline-button-text : #8F8E8E;
    --theme-auth-moderate-button-text : #FFFFFF;



    --theme-auth-input-border-gray :#8B8888;
    --theme-moderate-outline-button-border-moderate : #528FAD;




}